@charset "UTF-8";

/* background */
.demo-layout-transparent {
  background: url('https://picsum.photos/2000/3000/?image=231') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
/* main screen */
.mdl-layout__container {
  position: relative;
  width: 100%;
  height: 1200px;
}

/* <!-- Image card --> */
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('https://picsum.photos/300/300/?image=55') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* custom tag */
.rose {
  position: absolute;
  width : 100%;
  height : 300px;
  background: url('https://picsum.photos/2000/300/?image=222') center / cover;
  line-height: 300px;
  text-align: center;
}

.rose span {
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: uppercase;
  animation: animate 3s linear infinite;
}

.rose span:nth-child(1) {
  animation-delay: 0s;
}

.rose span:nth-child(2) {
  animation-delay: 0.1s;
}

.rose span:nth-child(3) {
  animation-delay: 0.2s;
}

.rose span:nth-child(4) {
  animation-delay: 0.3s;
}

.rose span:nth-child(5) {
  animation-delay: 0.4s;
}

.rose span:nth-child(6) {
  animation-delay: 0.5s;
}

.rose span:nth-child(7) {
  animation-delay: 0.6s;
}

.rose span:nth-child(8) {
  animation-delay: 0.7s;
}

.rose span:nth-child(9) {
  animation-delay: 0.8s;
}

.rose span:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes animate {
  0% {
    filter: blur(0);
  }
  20% {
    filter: blur(20px);
  }
  80% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}

