**/target/
# project settings
roseFinch/.settings/
*.idea
roseFinch/.springBeans
roseFinch/.project
roseFinch/.classpath
# build files
roseFinch/target/
roseFinch/bin/
*.class
# Package Files #
*.war
# Folder config file
Desktop.ini
roseFinch/.metadata
