.basket-container{
	margin-top: 50px;
    margin-bottom: 40vh;
}
.basket-red{
	color: red
}
input[type="number"]{
	width: 50px;
}
.row{
	border: none;
}
td{
	text-align: center;
}
.basket-danger{
	background-color: #fd5489;
}
.basket-header{
	text-align: left;
	margin-bottom: 50px;
	border-left: 5px solid #fd5489;
	padding-left: 20px;
	height: 40px;
	font-weight: bold;
	color: #fd5489;
	font-size: 30px;
}