@charset "UTF-8";

/* background */
.demo-layout-transparent {
  background: url('https://picsum.photos/2000/3000/?image=231') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
/* main screen */
.mdl-layout__container {
  position: relative;
  width: 100%;
  height: 1200px;
}

/* <!-- Image card --> */
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('https://picsum.photos/300/300/?image=55') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
